<div class="block-center mt-xl wd-xl">
    <!-- START panel-->
    <div class="p">
        <h3 style="text-align: center">屏幕已锁定</h3>
    </div>
    <div class="panel widget b0">
        <div class="panel-body">
            <p class="text-center">请输入登录密码解锁屏幕</p>
            <form role="form" name="lockForm">
                <div class="form-group has-feedback">
                    <input id="exampleInputPassword1" type="password" placeholder="请输入密码" required=""
                           name="lock_password" ng-model="lock.password"
                           class="form-control"/>
                    <span class="fa fa-lock form-control-feedback text-muted" style="margin-top: 9px;"></span>
                    <span ng-show="lockForm.lock_password.$dirty &amp;&amp; lockForm.lock_password.$error.required"
                          class="text-danger">密码不能为空</span>
                </div>
                <div ng-if="lock.errormsg!=null&&lock.errormsg!=''" class="alert alert-danger text-center">
                    {{lock.errormsg}}
                </div>
                <div class="clearfix">
                    <div class="pull-right">
                        <button type="button" ng-click="unLock()" ng-disabled="!lock.password"
                                class="btn btn-sm btn-primary">解锁
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END panel-->
    <div class="p-lg text-center">
        <span>&copy;</span>
        <span ng-bind="app.year"></span>
        <span>-</span>
        <span ng-bind="app.name"></span>
        <br/>
        <span ng-bind="app.description"></span>
    </div>
</div>