<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../vendor/angularjs/angular.min.js"></script>
    <title>Title</title>
    <style>
        .house{
            list-style: none;
            border:1px solid #eee;
            pading:0;
            margin:0;
        }
    </style>
</head>
<body ng-app="house" ng-controller="testController">
<ul  ng-repeat="house in building.houses" style="white-space:nowrap;clear:both;margin:0;padding:0;">
    <li style="display:inline-block;min-width:100px;" ng-repeat="h in building.houses[$index]">
        <ul class="house">
            <li>{{h.no}}</li>
            <li>{{h.area}}</li>
            <li>{{h.price}}</li>
            <li>{{h.type}}</li>
            <li>{{h.totalprice}}</li>
        </ul>
    </li>

</ul>

<script src="js/houseControl.js"></script>
</body>
</html>