<style>
    .premiseOption {
        width: 8%;
        float: right;
    }
</style>
<h3>楼栋管理
    <select class="form-control premiseOption" ng-model="premiseName" ng-change="premiseChanged(premiseName)">
        <option value="所有">所有</option>
        <option ng-repeat="premise in premises" value="{{premise.premiseName}}">{{premise.premiseName}}</option>
    </select>
</h3>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-labeled btn-success" type="button" ng-click="showAddBuilding()" tabindex="0">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>
            新增楼栋
        </button>
        <button class="btn btn-labeled btn-danger" type="button" ng-click="deleteBuildings()" tabindex="0">
            <span class="btn-label">
                <i class="fa fa-minus"></i>
            </span>
            批量删除当前页楼栋
        </button>
    </div>
</div>
<div class="col-md-12">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="gridselectall" ng-model="$isselectall" ng-click="selectAll()" class="ng-valid ng-dirty ng-valid-parse ng-empty ng-touched" tabindex="0" aria-checked="false" aria-invalid="false" style=""></th>
                    <th>楼栋名</th>
                    <th>楼栋号</th>
                    <th>楼层数</th>
                    <th>单元数</th>
                    <th>每单元户数</th>
                    <th>楼栋状态</th>
                    <th>所属楼盘</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="building in building_data.content">
                    <td>
                        <input type="checkbox" pno="{{building.id}}" ng-model="building.$isselected" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty" tabindex="0" aria-checked="false" aria-invalid="false" style="">
                    </td>
                    <td>{{building.buildingName}}</td>
                    <td>{{building.buildingNo}}</td>
                    <td>{{building.floorNu}}</td>
                    <td>{{building.unitNu}}</td>
                    <td>{{building.unitHouseNu}}</td>
                    <td>{{building.buildingStatus}}</td>
                    <td>{{building.premise.premiseName}}</td>
                    <td>
                        <button type="button" class="mb-sm btn btn-primary" ng-click="showUpdateBuilding(building)">更新</button>
                        <button type="button" class="mb-sm btn btn-danger" ng-click="deleteBuilding(building.id)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="pagination pagination-sm">
            <li ng-disabled="building_data.first" ng-click="changePage(building_data.number-1,building_data.size)"><a href="javascript:void(0)">上一页</a></li>
            <li><a href="javascript:void(0)">{{building_data.number+1}}/{{building_data.totalPages}}</a></li>
            <li ng-disabled="building_data.last" ng-click="changePage(building_data.number+1,building_data.size)"><a href="javascript:void(0)">下一页</a></li>
        </ul>
    </div>
</div>