<h3>{{pagetitle}}</h3>
<div class="row">
    <div class="col-md-8">
        <button class="btn btn-labeled btn-success" type="button" ng-click="showAddHouse()" tabindex="0">
            <span class="btn-label">
                <i class="fa fa-plus"></i>
            </span>
            新增房源
        </button>
        <button class="btn btn-labeled btn-danger" type="button" ng-click="deleteHouses()" tabindex="0">
            <span class="btn-label">
                <i class="fa fa-minus"></i>
            </span>
            删除房源
        </button>
    </div>
</div>
<div class="col-md-12">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="gridselectall" ng-model="$isselectall" ng-click="selectAll()" class="ng-valid ng-dirty ng-valid-parse ng-empty ng-touched" tabindex="0" aria-checked="false" aria-invalid="false" style=""></th>
                    <th>房号</th>
                    <th>面积/m<sup>2</sup></th>
                    <th>户型</th>
                    <th>单价</th>
                    <th>总价</th>
                    <th>状态</th>
                    <th>所属楼栋</th>
                    <th>单元号</th>
                    <th>楼层号</th>
                    <th>所属楼盘</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="house in house_data">
                    <td>
                        <input type="checkbox" pno="{{house.id}}" ng-model="house.$isselected" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty" tabindex="0" aria-checked="false" aria-invalid="false" style="">
                    </td>
                    <td>{{house.houseNo}}</td>
                    <td>{{house.houseSquare}}</td>
                    <td>{{house.houseStyle.hsName}}</td>
                    <td>{{house.unitPrice}}</td>
                    <td>{{house.totalPrice}}</td>
                    <td>{{house.houseStatus}}</td>
                    <td>{{house.building.buildingName}}</td>
                    <td>{{house.unitNo}}</td>
                    <td>{{house.floorNo}}</td>
                    <td>{{house.premise.premiseName}}</td>
                    <td>
                        <button type="button" class="mb-sm btn btn-primary" ng-click="showUpdateHouse(house)">更新</button>
                        <button type="button" class="mb-sm btn btn-danger" ng-click="deleteHouse(house.id)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>