<div class="modal-header">
    <h3 class="modal-title">{{pagetitle}}</h3>
</div>
<div class="modal-body">
    <form role="form" name="updateHouseform" novalidate="novalidate">
        <div class="form-group col-md-12">
            <label>房号</label>
            <input type="text" class="form-control" placeholder="请输入房号" ng-model="form.houseNo" name="houseNo" id="input-houseNo" required />
        </div>
        <div class="form-group col-md-12">
            <label>面积</label>
            <input type="number" class="form-control" placeholder="请输入面积" ng-model="form.houseSquare" name="houseSquare" id="input-houseSquare" required />
        </div>
        <div class="form-group col-md-12">
            <label>户型</label>
            <select class="dropdown form-control" ng-model="form.houseStyle">
                <option ng-repeat="housestyle_name in housestyle_names" value="{{housestyle_name}}">{{housestyle_name}}</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label>单价</label>
            <input type="number" class="form-control" placeholder="请输入单价" ng-model="form.unitPrice" name="unitPrice" id="input-unitPrice" required />
        </div>
        <div class="form-group col-md-12">
            <label>总价</label>
            <input type="number" class="form-control" placeholder="请输入总价" ng-model="form.totalPrice" name="totalPrice" id="input-totalPrice" required />
        </div>
        <div class="form-group col-md-12">
            <label>状态</label>
            <select class="dropdown form-control" ng-model="form.houseStatus">
                <option ng-repeat="house_status in house_statuss" value="{{house_status}}">{{house_status}}</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label>所属楼栋</label>
            <select class="dropdown form-control" ng-model="form.building">
                <option ng-repeat="building_name in building_names" value="{{building_name}}">{{building_name}}</option>
            </select>
        </div>
        <div class="form-group col-md-12">
            <label>单元号</label>
            <input type="number" class="form-control" placeholder="请输入单元号" ng-model="form.unitNo" name="unitNo" id="input-unitNo" required />
        </div>
        <div class="form-group col-md-12">
            <label>楼层号</label>
            <input type="number" class="form-control" placeholder="请输入楼层号" ng-model="form.floorNo" name="floorNo" id="input-floorNo" required />
        </div>
        <div class="form-group col-md-12">
            <label>所属楼盘</label>
            <select class="dropdown form-control" ng-model="form.premise">
                <option ng-repeat="premise_name in premise_names" value="{{premise_name}}">{{premise_name}}</option>
            </select>
        </div>
        <div style="clear:both;"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="mb-sm btn btn-primary" type="submit" ng-disabled="updateHouseform.$invalid" ng-click="save()">保存</button>
    <button class="mb-sm btn btn-danger" type="button" ng-click="cancel()">取消</button>
</div>