<input type="file" imagepreview fileread="image.file"
       id="imageloader" style="display:none;" ng-model="form.hsPicture" multiple/>
<div class="col-md-12" ng-if="type=='unknow'">
    <div class="form-group col-md-12">
        <img class="img-rounded thumb64 center-block" src="app/img/addimage.jpg" onclick="imageloader.click()"/>
    </div>
</div>
<!--如果选择图片，预览图片-->
<div class="form-group col-md-12" ng-if="image!=null">
    <img ng-src="{{image.file}}" class="img-rounded center-block" style="width: 256px;height: 160px;" onclick="imageloader.click()"/>
    <!--<input type="file" imagepreview fileread="image.file"-->
           <!--id="imageloader2" style="display:none;"/>-->
    <!--<img src="app/img/addimage.jpg" class="img-rounded thumb64 center-block" onclick="imageloader2.click()"/>-->
</div>