<div class="modal-header">
    <h3 class="modal-title">{{pagetitle}}</h3>
</div>
<div class="modal-body">
    <form role="form" name="addHousestyleform" novalidate="novalidate" action="" method="post"
          enctype="multipart/form-data">
        <div class="form-group col-md-12">
            <label>户型名称</label>
            <input type="text" class="form-control" placeholder="请输入户型名称" ng-model="form.hsName" name="hsName"
                   id="input-hsName" required/>
        </div>
        <div class="form-group col-md-12">
            <label>户型代码</label>
            <input type="text" class="form-control" placeholder="请输入户型代码" ng-model="form.hsCode" name="hsCode"
                   id="input-hsCode" required/>
        </div>
        <div class="form-group col-md-12">
            <label>户型面积</label>
            <input type="number" class="form-control" placeholder="请输入户型面积" ng-model="form.hsSquare" name="hsSquare"
                   id="input-hsSquare" required/>
        </div>
        <div class="form-group col-md-12" ng-if="user.staffGarde>4">
            <label>所属楼盘</label>
            <select class="dropdown form-control" ng-model="form.premise" required>
                <option ng-repeat="premise_name in premise_names" value="{{premise_name}}">{{premise_name}}</option>
            </select>
        </div>
        <div class="form-group col-md-12" ng-if="user.staffGarde<5">
            <label>所属楼盘</label>
            <input type="text" class="form-control" ng-value="user.premise.premiseName"
                   name="premise"
                   id="input-premise" readOnly="true" required/>
        </div>
        <div class="form-group col-md-12">
            <label>户型介绍</label>
            <textarea class="form-control note-editor note-editor-margin"
                      rows="5" name="hsIntroduction" ng-model="form.hsIntroduction" id="hsIntroduction"></textarea>
        </div>
        <div class="form-group col-md-12">
            <label>户型图</label>
            <input type="file" imagepreview fileread="image"
                   id="imageloader" style="display:none;" ng-model="form.hsPicture"/>
        </div>
        <div class="form-group col-md-12" ng-if="image == 'app/img/addimage.jpg'">
            <img class="img-rounded thumb64 center-block" src="app/img/addimage.jpg" onclick="imageloader.click()"/>
        </div>
        <!--如果选择图片，预览图片-->
        <div class="form-group col-md-12" ng-if="image != 'app/img/addimage.jpg'">
            <img ng-src="{{image}}" class="img-rounded center-block" style="width: 256px;height: 160px;"
                 onclick="imageloader.click()"/>
        </div>
        <div style="clear:both;"></div>
    </form>
</div>
<div class="modal-footer">
    <button class="mb-sm btn btn-primary" type="submit" ng-disabled="addHousestyleform.$invalid" ng-click="save()">保存
    </button>
    <button class="mb-sm btn btn-danger" type="button" ng-click="cancel()">取消</button>
</div>